<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All Appointments</h1>

    <div class="appointments">

            <a href="/">home</a>
            <div  class="show-appoint">
            <p>First Name  : {{first_name}}</p>
            <p>Middle Name : {{middle_name}}</p>
            <p>Last Name   : {{last_name}}</p>
            <p>Phone Number: {{phoneNumber}}</p>
            <p>E-mail      : {{email}}</p>
            <p>Artist Name : {{nameOfArtist}}</p> 
            <p>Type of Artist: {{typeOfArtist}}</p>


    </div>



</body>
</html>