<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <a href="/">home</a>  

        <div  class="show-appointments">
        <p>First Name  : {{first_name}}</p>
        <p>Middle Name : {{middle_name}}</p>
        <p>Last Name   : {{last_name}}</p>
        <p>Phone Number: {{phoneNumber}}</p>
        <p>E-mail      : {{email}}</p>
        <p>Appointment Date: {{appointmentDte}}</p>
        <p>Artist </p>

        <form action="/customers/{{id}}?_method=DELETE" method="POST">
            <button type="submit">Delete customer</button>
            </form>

    
</body>
</html>