<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <a href="/">home</a>

    <div  class="show-artists">
        <p> Name          : {{nameOfArtist}}</p>
        <p>Type of artist : {{typeOfArtist}}</p>
        <p>Phone Number   : {{phoneNumber}}</p>
        <p>E-mail         : {{email}}</p>
        <p>City           : {{city}}</p>
        

</body>
</html>
