<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<form class="new-customer"action="/customers"method="POST">
        <lable for="first_name">
            First Name:<input type="text" id="first_name">
        </lable>
         <lable for="middle_name">
            Middle Name:<input type="text" id="middle_name">
        </lable>
        <lable for="last_name">
            Last Name:<input type="text" id="last_name">
        </lable>
        <lable for="phoneNumber">
            Phone Number:<input type="text" id="phoneNumber">
        </lable>
        <lable for="email">
            E-mail:<input type="text" id="email">
        </lable>
        <button type="submit">New customer</button>

</form>







</body>
</html>